<h1>Songs</h1>
<% @songs.each do |song| %>
    <div>
        Name: <%= link_to song.name, song_path(song) %>
        Artist: <%= link_to song.artist.name, artist_path(song.artist) %>
        Genre: <%= link_to song.genre.name, genre_path(song.genre) %>
    </div>
<% end %>