<h1>
    <label>Song Name: </label>
    <%= @song.name %>
</h1>
<p>
    <label>Artist: </label>
    <%= link_to @song.artist.name, artist_path(@song.artist_id) %>

    <label>Genre: </label>
    <%= link_to @song.genre.name, genre_path(@song.genre_id)%>
</p>